alembic>=1.16.1,
asyncpg>=0.30.0,
bcrypt==3.2.2,
envparse>=0.2.0,
fastapi>=0.115.12,
httpx>=0.28.1,
passlib>=1.7.4,
psycopg2-binary>=2.9.10,
pydantic[email]>=2.11.5,
pydantic-settings>=2.10.1,
python-jose>=3.5.0,
python-multipart>=0.0.20,
sentry-sdk[fastapi]>=2.31.0,
sqlalchemy[mypy]>=2.0.41,
starlette-exporter>=0.23.0,
uvicorn>=0.34.3,
python-slugify>=8.0.4,
sqladmin>=0.21.0,
